@if (pokeResource.isLoading()){
    <p>Loading...</p>
} @else if(pokeResource.error()){
    <p>Error loading Pokémon</p>
} @else {
    @if(pokeResource.value(); as pokemon){
        <div class="poke-details">
            <div class="poke-content">
                <!-- <a routerLink="/" class="back-link">Back to Pokémon List</a>
                <h4>{{pokemon.id}}</h4> -->
                <app-search-bar (pokemon_search)="getPokemonSearch($event)"></app-search-bar>

                <div class="poke-details-header">
                    <h1 class="title">{{name() | titlecase}}</h1>
                    <div class="poke-type-badges">
                        @for (type of pokemon.types; track type){
                            <span [ngClass]="typeStyles(type.type.name | titlecase)" class="type-badge">{{ type.type.name | titlecase}}</span>
                        }
                    </div>
                </div>
            

            <img 
              width="600" 
              height="600" 
              [ngSrc]="pokemon.sprites.front_default"
              [alt]="name()"
              [ngClass]="typeStyles(pokeResource.value()?.types?.at(0)?.type?.name| titlecase)"
            />
            </div>
            

            <!--@for (form of pokemon.forms; track form) {
                    <p>{{form.name| titlecase}}</p>
        }-->
            <div class="poke-info">
                <app-info [name]="pokemon.name"></app-info>
            </div>

            
            

            

            
        </div>
    }
}
