.poke-search-bar{
  width: 700px;
}
.poke-details{
    display: flex;
    
    gap: 30px;

    border: #694086;
    border-style: solid;
    border-radius: 15px;
    padding: 20px;

    background-color: rgb(237, 235, 235);

    img{
        border-radius: 75px;
    }

}

.poke-details-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.poke-type-badges{
    margin-left: 50px;
}

.type-badge{
    /*display: inline-block;*/
    /*background-color: #444;*/
    color: #fff;
    padding: 5px 12px;
    border-radius: 3px;
    margin: 2px 4px;
    font-weight: bold;
}

.back-link{
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 0.75rem;

    &:hover{
        text-decoration: underline;
    }
}

.poke-type-bug{
  background-color: rgba(161, 226, 167, 1);
  color: #68655d;
}

.poke-type-dark{
  background-color: rgba(27, 28, 27, 1);
  color: #fff;
}

.poke-type-dragon{
  background-color: rgba(124, 196, 210, 1);
  color: #fff;
}

.poke-type-electric{
  background-color: rgba(233, 233, 109, 1);
  color: #68655d;
}

.poke-type-fairy{
  background-color: rgba(255, 137, 206, 1);
  color: #fff;
}

.poke-type-fighting{
  background-color: rgba(253, 206, 124, 1);
  color: #fff;
}

.poke-type-fire{
  background-color: rgba(246, 219, 191, 1);
  color: #fff;
}

.poke-type-flying{
  background-color: rgba(147, 209, 228, 1);
  color: #fff;
}

.poke-type-ghost{
  background-color: rgba(87, 96, 195, 1);
  color: #fff;
}

.poke-type-grass{
  background-color: rgba(199, 239, 222, 1);
  color: #fff;
}

.poke-type-ground{
  background-color: rgba(209, 177, 61, 1);
  color: #fff;
}

.poke-type-ice{
  background-color: rgba(66, 227, 245, 1);
  color: #fff;
}

.poke-type-normal{
  background-color: rgba(190, 90, 158, 1);
  color: #fff;
}

.poke-type-poison{
  background-color: rgba(174, 52, 208, 1);
  color: #fff;
}

.poke-type-psychic{
  background-color: rgba(241, 71, 196, 1);
  color: #fff;
}

.poke-type-rock{
  background-color: rgba(151, 104, 39, 1);
  color: #fff;
}

.poke-type-steel{
  background-color: rgba(114, 218, 165);
  color: #fff;
}

.poke-type-water{
  background-color: rgba(188, 233, 239, 1);
  color: #fff;
}

.poke-type-default{
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
}

.poke-info{
  margin-top: 10%;
}