<div class="poke-search-bar">
    <app-search-bar [css_class]="'poke-search-left'" (pokemon_search)="getPokemonSearch($event)"></app-search-bar>
</div>
@if (pokeResource.isLoading()){
    <p>Loading...</p>
} @else if(pokeResource.error()){
    <p>Error loading Pokémon</p>
} @else {
    @if(pokeResource.value(); as pokemon){
        <div class="poke-details">
            <div class="poke-content">
                <!-- <a routerLink="/" class="back-link">Back to Pokémon List</a>
                <h4>{{pokemon.id}}</h4> -->
                
                <div class="poke-details-header">
                    <div>
                        <h2 class="subtitle">
                            @if(pokemon.id < 10){
                                n 00{{pokemon.id}}    
                            }@else if(pokemon.id >= 10 && pokemon.id < 100){
                                n 0{{pokemon.id}}    
                            }@else{
                                n {{pokemon.id}}
                            }
                        </h2>
                        <h1 class="title">{{name() | titlecase}}</h1>
                    </div>
                    
                    <div class="poke-type-badges">
                        @for (type of pokemon.types; track type){
                            <span [ngClass]="typeStyles(type.type.name | titlecase)" class="type-badge">{{ type.type.name | titlecase}}</span>
                        }
                    </div>
                </div>
            
                @if(pokemon_name != ''){
                    <app-image [name]="pokemon_name" [width]="600" [height]="600"></app-image>
                }@else {
                    <app-image [name]="pokemon.name" [width]="600" [height]="600"></app-image>
                }
                

            </div>
            

            <!--@for (form of pokemon.forms; track form) {
                    <p>{{form.name| titlecase}}</p>
        }-->
            <div class="poke-info">
                <app-info (switchedContent)="resetPokemonName($event)"
                (info_pokemon_name)="getPokemonName($event)" 
                [name]="pokemon.name"></app-info>
            </div>

            
            

            

            
        </div>
    }
}
