.poke-details{
    display: flex;
    align-items: center;
    gap: 30px;
    img{
        border-radius: 75px;
    }
}

.poke-details-header{
    display: flex;
    align-items: center;
}

.poke-type-badges{
    margin-left: 50px;
}
.poke-info{

}

.type-badge{
    /*display: inline-block;*/
    /*background-color: #444;*/
    color: #fff;
    padding: 5px 12px;
    border-radius: 20px;
    margin: 2px 4px;
    font-weight: bold;
}

.back-link{
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 0.75rem;

    &:hover{
        text-decoration: underline;
    }
}