@use "sass:map";

$poke-type-background: "Rock";
$show-card: flex;
:root{
  --type-background: var($poke-type-background);
  
}

$poke-types: (
      "Fire": #ed1a1a,
      "Water": #1a92ed,
      "Electric": #eded1a,
      "Grass": #44ed1a,
      "Ice": #1ad8ed,
      "Fighting": #eda01a,
      "Poison": #bf1aed,
      "Rock": #68655d,
      "Flying": #1aedb5,
      "Psychic": #ed1ab5  
);

.poke-card-hide{
  display: none;
}
.poke-card{
    /*background-color: #fff;
    border: 1px solid #ddd;*/
    border-radius: 12px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    /*padding: 20px;*/
    text-align: center;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 
      transform 0.3s ease-in-out, 
      box-shadow 0.3s ease-in-out;
    font-size: 1.2rem;
    color: #694086;
    font-weight: 600;
    text-decoration: none;

    &:hover{
        transform: translateY(-8px) scale(1.02);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

.poke-card img{
  //background-color: map.get($map: $poke-types, $key: var(--type-background));
  padding-inline: 30px;
  padding-block: 20px;
  border-radius: 15px;
}

.poke-card-id{
  font-size: small;
  text-align: left;
}
.poke-card-details{
  display: flex;
  align-items: center;
  gap: 20px;
}

.poke-card-types{
  display: flex;
  flex-direction: column;

  p{
    width: 65px;
    margin: 0px;
    border-radius: 6px;
    font-size: smaller;
    margin: 3px;
    padding: 5px;
  }
}

.poke-type-bug{
  background-color: rgba(161, 226, 167, 1);
  color: #68655d;
}

.poke-type-dark{
  background-color: rgba(27, 28, 27, 1);
  color: #fff;
}

.poke-type-dragon{
  background-color: rgba(124, 196, 210, 1);
  color: #fff;
}

.poke-type-electric{
  background-color: rgba(233, 233, 109, 1);
  color: #68655d;
}

.poke-type-fairy{
  background-color: rgba(255, 137, 206, 1);
  color: #fff;
}

.poke-type-fighting{
  background-color: rgba(253, 206, 124, 1);
  color: #fff;
}

.poke-type-fire{
  background-color: rgba(246, 219, 191, 1);
  color: #fff;
}

.poke-type-flying{
  background-color: rgba(147, 209, 228, 1);
  color: #fff;
}

.poke-type-ghost{
  background-color: rgba(87, 96, 195, 1);
  color: #fff;
}

.poke-type-grass{
  background-color: rgba(199, 239, 222, 1);
  color: #525252;
}

.poke-type-ground{
  background-color: rgba(209, 177, 61, 1);
  color: #fff;
}

.poke-type-ice{
  background-color: rgba(66, 227, 245, 1);
  color: #fff;
}

.poke-type-normal{
  background-color: rgba(190, 90, 158, 1);
  color: #fff;
}

.poke-type-poison{
  background-color: rgba(174, 52, 208, 1);
  color: #fff;
}

.poke-type-psychic{
  background-color: rgba(241, 71, 196, 1);
  color: #fff;
}

.poke-type-rock{
  background-color: rgba(151, 104, 39, 1);
  color: #fff;
}

.poke-type-steel{
  background-color: rgba(114, 218, 165);
  color: #fff;
}

.poke-type-water{
  background-color: rgba(188, 233, 239, 1);
  color: #525252;
}

.poke-type-default{
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
}
