*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(129, 171, 248);
}

.RecuadroInformacion{
    margin: auto;
    width: 50%;

    background-color: aliceblue;
    border-style: dashed;
    border-radius: 2rem;

    display: flex;
}

/*.RecuadroInformacion table tr{
    background-color: aquamarine;
}*/

.circleInfo{
    background-color: rgb(93, 27, 154);
    text-align: center;

    width: 30%;
    border-radius: 50%;

    margin: auto;
    /*padding: 10% 15% 10% 15%;*/
    padding: 10%;

}

#generalValue{
    font-size: xxx-large;
}

.dataInfo{
    border-style: dotted;
    border-radius: 2rem;
    width:80%;
    /*background-color: burlywood;
    display: flex;*/

    margin: auto;
    margin-top: 5%;
}

.dataValue{
    position: relative;
    margin-left: auto;

}

.RecuadroInformacion h2{
    text-align: center;
}

.dataInfo div{
    display: flex;
    border-radius: 2rem;

}

#reactionBox{
    background-color: rgba(240, 23, 23, 0.4);
}

#memoryBox{
    background-color: rgba(232, 243, 84, 0.4);
}

#verbalBox{
    background-color: rgba(103, 246, 81, 0.4);
}

#visualBox{
    background-color: rgba(100, 75, 238, 0.4);
}

.columnLeft{
    width: 50%;
    background-color: blueviolet;
    border-radius: 2rem;
    color:aliceblue;
}

.columnLeft th{
    font-size: large;
}

.columnLeft p{
    text-align: center;
}

#textScore{
    width: 80%;
    margin: auto;
}

.columnRight{
    width: 50%;
}

.columnRight th{
    text-align: left;
    font-size: large;
}

.columnRight button{
    background-color: black;
    width: 80%;
    margin: auto;
    border-radius: 3rem;
    padding: 4%;
    margin-top: 5%;
    margin-left: 8%;
}

.columnRight button a{
    text-decoration: none;
    color: white;
    font-family: var(--font);
}