.buttons{
    display: flex;
    justify-content: space-between;
    button{
        background-color:rgba(0,0,0,0);
        border-style: none;
        border-radius: 12px;
        padding-block: 15px;
        color: rgb(129, 129, 129);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
        cursor: pointer;

        &:hover{
            color: #694086;
        }

    }
    
}