<h1 class="title">Pokédex</h1>
<app-search-bar (pokemon_search)="getPokemonSearch($event)"></app-search-bar>
<div class="poke-container">
    @if (pokeListResource.isLoading()){
        <p>Loading...</p>
    }@else if(pokeListResource.error()){
        <p>Error loading Pokémon</p>
    }@else{
        
            @let pokeList = pokeListResource.value();

            @for (pokeResult of pokeList?.results; track pokeResult){
                <app-card [pokeResult]="pokeResult" [name]="pokeResult.name" [pokeSearch]="pokemon_search_value"/>
            }
        
    }    
</div>


