.poke-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    /*gap: 60px;*/
    column-gap: 10px;
    /*row-gap: 10px;*/
    
    border: #694086;
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
}